  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
      <li class="breadcrumb-item active">Add New User</li>
    </ol>
  </nav>

  <h4 class="">Add new user</h4>
  <div class="container my-5">
    <div class="card bg-light mx-auto" style="max-width: 60%;">
      <div class="card-body">

        <form action="/admin/adduser" method="POST">
          <% if (typeof error !== 'undefined') { %>
          <p class="text-danger text-center">
            <%= error %>
          </p>
          <% } %>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input id="email" class="form-control" placeholder="Email address" type="email" name="email" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input id="firstName" class="form-control" placeholder="First name" type="text" name="firstName" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input id="lastName" class="form-control" placeholder="Last name" type="text" name="lastName">
            </div>
          </div>
          <div class="mb-3">
            <label for="phoneCode" class="form-label">Phone Number</label>
            <div class="input-group">
              <select class="form-select" id="phoneCode" style="max-width: 100px;" name="phoneCode">
                <option selected>+91</option>
                <option value="1">+972</option>
                <option value="2">+198</option>
                <option value="3">+701</option>
              </select>
              <input class="form-control" placeholder="Phone number" type="text" name="phoneNumber">
            </div>
          </div>
          <div class="mb-3">
            <label for="countrySelect" class="form-label">Country</label>
            <select class="form-select" id="countrySelect" aria-label="Select Country" name="country">
              <option selected>India</option>
              <option>United States</option>
              <option>United Kingdom</option>
              <option>Norway</option>
              <option>United Arab Emirates</option>
              <option>Bangladesh</option>
              <option>Sri Lanka</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-8 mb-3">
              <label for="state" class="form-label">State/Province</label>
              <input id="state" class="form-control" placeholder="State/Province" type="text" name="stateProvince">
            </div>
            <div class="col-md-4 mb-3">
              <label for="pin" class="form-label">PIN</label>
              <input id="pin" class="form-control" placeholder="PIN" type="text" name="pin">
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Create Password</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-key"></i></span>
              <input id="password" class="form-control" placeholder="Create password" type="password" name="password" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="repeatPassword" class="form-label">Repeat Password</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-key"></i></span>
              <input id="repeatPassword" class="form-control" placeholder="Repeat password" type="password" name="repeatPassword" required>
            </div>
            <span id="errorMessage" class="text-danger" style="display: none;">Passwords do not match!</span>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" id="signupButton">Add new user</button>
          </div>
          <p class="text-center mt-3">Have an account? <a href="/login">Log In</a></p>
        </form>
      </div>
    </div>
  </div>